<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnotes.app"
            android:versionCode="2"
            android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="false"
            android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:backupAgent=".backup.DbBackupAgent">
        <activity
            android:name=".ui.GeekNotesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.NewNoteActivity"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GeekNotesActivity" />
        </activity>
        <activity
                android:name=".ui.ItemArticleActivity"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GeekNotesActivity" />
        </activity>
        <activity
                android:name=".ui.ArchiveActivity"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.GeekNotesActivity" />
        </activity>
        <provider
                android:authorities="com.gnotes.app"
                android:name=".database.GeekNotesContentProvider"
                android:exported="false"
                android:syncable="true" />
        <service android:name=".services.GeekNotesWikiService"/>

        <service android:name=".services.GeekNotesImdbService"/>

        <meta-data
                android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAIvtGioqaXN6fJpkwVPYohSTEKBFRibKaZ6ZNadw" />
    </application>

</manifest>
