<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnotes.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GeekNotesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".NewNoteActivity"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".GeekNotesActivity" />
        </activity>
        <activity
                android:name=".ItemArticleActivity"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".GeekNotesActivity" />
        </activity>
        <provider
                android:authorities="com.gnotes.app"
                android:name=".data.GeekNotesContentProvider"
                android:exported="false"
                android:syncable="true" />
        <service android:name=".services.GeekNotesWikiService"/>

        <service android:name=".services.GeekNotesImdbService"/>

    </application>

</manifest>
